@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hover: var(--hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hover: #262626;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  hover: var(--hover);
  font-family: Arial, Helvetica, sans-serif;
}
